body {
    font-size: 18px;
    color: #989898 !important;
    background-color: #100c08 !important;
    font-family: 'Cinzel', serif !important;;

}

.jumbotron {
    background-image: url("../images/GOTcover2.png");
    margin-bottom: 30px;
    height: 375px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 140px;
    width: 100%;

}

#gameRow {
    text-align: center;
    margin-top: 20px;
}

#gameCol {
    text-align: center;
    border: 2px solid #989899;
    border-radius: 5px;
    padding: 30px;
    min-height: 300px;
    margin-bottom: 60px;
}

#startBtn {
    background-color: #989899;
    color: black;
    border: 1px solid #000000;    
    font-size: 160%;
    letter-spacing: 2px;
    padding: 20px 50px;
    margin-top: 30px;
}

#startBtn:hover {
    background-color: #100c08;
    color: #989898;
    border: 1px solid #989898;    
}

#timeLeft {
    font-size: 250%;
    color: #A8A8A8;
    letter-spacing: 2px;
    font-weight: 500;
}

#currentQuestion {
    color: #A8A8A8;
    text-align: left;
    font-size: 100%;
}

.question {
    color: #D3D3D3;
    font-size: 170%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.answerList {
    text-align: center;
    margin-right: 35px;
    margin-left: 35px;
    color: #989899;
    font-size: 140%;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 500;
}

.thisChoice:hover {
    background-color: #989899;
    color: #100c08;
    ;
}

#message {
    color: #D3D3D3;
    font-size: 125%;
    margin-bottom: 10px;
}

#gif {
    margin-bottom: 15px;
    margin-top: 15px; 
}

.gifImg {
    max-height: 300px;
    max-width: 460px;
}

.reset {
    background-color: #989899;
    color: #100c08;
    border: 1px solid #100c08;
    font-size: 200%;
    letter-spacing: 2px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.reset:hover {
    background-color: #100c08;
    color: #989899;
    border: 1px solid #989899;    
}

#finalMessage {
    color: #D3D3D3;
    font-size: 200%;
    margin-bottom: 30px;
    margin-top: 10px;
}
#correctAnswers, #incorrectAnswers, #unanswered {
    color: #989899;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
}